.leaveGame {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 12px;
	left: 20px;
	padding: 5px;
	background-color: #885588;
	cursor: pointer;
	box-shadow: 0px 0px 3px #552255;
	text-align: center;
	border-radius: 20px;
	color: white;
	font-size: 23px;
}

.leaveGame > div {
	position: relative;
	top: -7px;
	left: -2px;
}

#gameJoinOnPhone {
	position: absolute;
	right: 20px;
	top: 10px;
}

#gameJoinOnPhone > .button {
	width: 25px;
	height: 25px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-image: url('../imagesStatic/remote.png');
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 3px;
	padding: 3px;
	cursor: pointer;
}

#gameJoinOnPhone > .code {
	display: none;
	position: absolute;
	right: -30px;
	top: 35px;
	padding: 10px;
	background-color: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	font-size: 12px;
}

#gamePlayersCircle {
	position: relative;
}

.playerToken {
	position: absolute;
}

.playerToken .readyCheck {
	display: none;
	position: absolute;
	left: 70px;
	top: -15px;
	width: 25px;
}

.playerToken.secondHalf .readyCheck {
	left: -10px;
}

.playerToken.ready .readyCheck {
	display: block;
}

.player1Crown {
	position: absolute;
	left: -21px;
	top: -28px;
	width: 80px;
	height: 60px;
	background-image: url("../imagesStatic/crown.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.playerImagePlaceholder {
	width: 76px;
	height: 67px;
	padding: 13px 4px 0 0;
	font-size: 46px;
	font-weight: bold;
	background-color: gray;
	border-radius: 80px;
	color: white;
	cursor: pointer;
	text-align: center;
}

.playerImage {
	width: 80px;
	height: 80px;
	border-radius: 80px;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
}

.playerName {
	position: absolute;
	left: -23px;
	top: 85px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 4px;
	width: 120px;
	height: 20px;
	padding: 0 3px;
	overflow: hidden;
	display: none;
}

.playerName > input {
	background-color: #AAA;
	border: none;
	border-radius: 4px;
	padding: 2px 0;
	margin: 3px auto;
	width: 114px;
	display: none;
}

.playerName.playerControls {
	height: 49px;
}

.playerName.player1Controls {
	height: 75px;
}

.playerName.playerControls .playerControl {
	display: initial;
}

.playerName.player1Controls .player1Control {
	display: initial;
}

#gameCardSmall {
	display: none;
	position: absolute;
	top: 249px;
	left: 237px;
	width: 325px;
	height: 325px;
	padding: 0;
	background-color: rgb(180,180,255);
	border-radius: 700px;
	overflow: hidden;
	cursor: pointer;
}

#gameCardSmall .overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding-top: 130px;
	font-size: 40px;
}

#turnTimerSmall {
	display: none;
	position: absolute;
	/*top: 241px; these values will be set by the f_setRingSize function in pages/game.php
	left: 229px;
	width: 341px;
	height: 341px;*/
	border-radius: 700px;
}

#gameCardSmall:hover .overlay {
	display: block;
}

.gameStarted #gameCardSmall {
	display: block;
}

.gameStarted #turnTimerSmall {
	display: block;
}

#phoneRemoteContent #gameCardSmall .overlay {
	display: block;
}

#gameCard {
	display: none;
	position: absolute;
	top: 82px;
	left: 70px;
	width: 625px;
	height: 625px;
	padding: 17px;
	background-color: rgb(180,180,255);
	border-radius: 700px;
	overflow: hidden;
}

#gameCard .spaceBottom {
	margin-bottom: 5px;
}

#gameCardOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

#turnTimerBig {
	display: none;
	position: absolute;
	/*top: 73px; these values will be set by the f_setRingSize function in pages/game.php
	left: 62px;
	width: 676px;
	height: 676px;*/
	border-radius: 700px;
}

.showGameCard #gameCard {
	display: block;
}

.showGameCard #gameCardOverlay {
	display: block;
}

.showGameCard #turnTimerBig {
	display: block;
}

.revealCard {
	position: absolute;
	top: 82px;
	left: 145px;
	width: 500px;
	height: 625px;
	background-image: url('../imagesStatic/paper1_small.png');
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 23px;
}


.currentText {
	width: 400px;
	background-color: white;
	padding: 10px;
	font-size: 34px;
}

.previousText {
	width: 100%;
	background-color: white;
	padding: 1px;
	font-size: 34px;
}

#gameCardSmall .previousText {
	max-height: 30%;
	overflow: hidden;
}

#phoneRemoteGame #gameCard {
	position: initial;
	top: auto;
	left: auto;
	padding: 33px;
	font-size: 30px;
	background-color: rgb(230,230,255);
}

#phoneRemoteGame #gameCardOverlay {
	display: none;
}

#phoneRemoteGame #gameCard input[type=button] {
	font-size: 25px;
	padding: 10px;
	border-radius: 100px;
}

#uploadProgress {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	padding-top: 365px;
}

#gamePlayer1Control .startGameGroup {
	padding: 4px 0;
}