#reveal {
	margin-top: 150px;
}

#revealHidyBar {
	width: 100%;
	height: 132px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #8888FF;
	border-bottom: 3px solid #8888FF;
	opacity: 0.85;
}

#revealPlayerBar {
	width: 100%;
	height: 132px;
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	border-bottom: 3px solid black;
	overflow-x: auto;
	overflow-y: hidden;
}

#revealPlayerBar > .scrollPanel {
	margin: 0 auto;
}

#revealPlayerBar .playerTokenContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 85px;
	padding: 10px;
	overflow-y: hidden;
}

#revealPlayerBar .playerTokenContainer.cardActive {
	top: -2px;
}

#revealPlayerBar .revealPlayerToken {
	position: relative;
	padding-top: 20px;
}

#revealPlayerBar .playerTokenContainer .playerImage {
	margin: 0 auto;
}

#revealPlayerBar .playerTokenContainer .playerImagePlaceholder {
	margin: 0 auto;
}

#revealPlayerBar .playerTokenContainer.cardActive .playerImage {
	border: 2px solid rgb(50,210,50);
}

#revealPlayerBar .playerTokenContainer.cardActive .playerImagePlaceholder {
	border: 2px solid rgb(50,210,50);
}

#revealPlayerBar .playerTokenContainer .player1Crown {
	left: -19px;
	top: -8px;
}

#revealPlayerBar .playerTokenContainer .readyCheck {
	display: none;
}

#revealCardBar {
	width: 800px;
	margin: 0 auto;
	overflow-x: hidden;
	padding-top: 20px;
}

#revealCardBar .gameCard {
	position: relative;
	margin: 0 auto;
	left: unset;
	top: unset;
	cursor: pointer;
}

#revealOverlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

#revealOverlay .currentImage {
	box-shadow: 0px 0px 48px black;
}

#revealOverlay .currentText {
	box-shadow: 0px 0px 48px black;
	font-size: 60px;
	background-color: white;
	padding: 20px;
}