#reveal {
	width: 200px;
}

#revealPlayerBar {
	width: 100%;
	height: 200px;
	overflow-x: auto;
	overflow-y: hidden;
}

#revealPlayerBar > .scrollPanel {
	margin: 0 auto;
	height: 200px;
}

#revealPlayerBar .playerTokenContainer {
	display: inline-block;
	width: 85px;
	padding: 10px;
}

#revealPlayerBar .revealPlayerMiniCard {
	height: 89px;
	margin-top: 5px;
	overflow-y: hidden;
}

#revealPlayerBar .revealPlayerToken .playerImage {
	margin: 0 auto;
}

#revealPlayerBar .revealPlayerToken .playerImagePlaceholder {
	margin: 0 auto;
}

#revealPlayerBar .revealPlayerToken .readyCheck {
	display: none;
}

#reveal .gameCard.minimized {
	cursor: pointer;
}